@model List<int>

@{
    ViewBag.Title = "Task 1: Table with random numbers";
}

<h2>@ViewBag.Title</h2>

<table id="randomNumbersTable" class="cell-border hover stripe">
    <thead>
        <tr>
            <td>#</td>
            <td>Random numbers</td>
            <td>Suma</td>
            <td>Suma 2</td>
        </tr>
    </thead>
    <tbody>
        @{
            string displaySumaNumber = "";
            string displaySuma2Number = "";

            int sumaNumber = 0;
            int suma2Number = 0;
        }

        @for (int i = 0; i <= Model.Count - 1; i++)
        {
            sumaNumber = sumaNumber + Model[i];
            displaySumaNumber = i == 0 ? Model[i].ToString() : displaySumaNumber + "+" + Model[i];

            suma2Number = suma2Number + sumaNumber;
            displaySuma2Number = i == 0 ? Model[i].ToString() : displaySuma2Number + "+" + sumaNumber;

            <tr>
                <td>@i</td>
                <td>@Model[i]</td>
                <td>@displaySumaNumber =  @sumaNumber</td>
                <td>@displaySuma2Number = @suma2Number</td>
            </tr>
        }

    </tbody>
</table>


@section scripts
{
    <script>
        $(function () {
            $("#randomNumbersTable").DataTable({
                paging: false,
                searching: false,
            });
        })
    </script>


}