@using System.Web.Mvc
@using System.Web.Mvc.Html
@model Stilago.Tasks.Web.Models.Task3.UploadViewModel

@{
    ViewBag.Title = "Task 3: Upload";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="upload-file-wrapper">
        <div>
            <input type="file" name="fileToUpload" />
        </div>
        <div>
            <input type="submit" name="submit" value="Upload" />
        </div>
    </div>
}

<div class="file-dispaly-wrapper">

    @if (Model != null && Model.Files != null)
    {
        foreach (var file in Model.Files)
        {
            <div>
                <div class="col-id">@file.id</div>
                <div class="col-filename">@file.file_name</div>
                <div class="col-filetype">@file.file_type</div>
                <div class="col-document">@file.document</div>
                <div class="col-link">@Html.ActionLink("GetFile", "GetFile", new { id = file.id })</div>
            </div>
        }
    }
</div>